@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0081B4;
}

#seleccionar_mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 42px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo {
    color: white;
    font-size: 32px;
}

.tarjetas, .tarjetas_ataques {
    display: flex;
    gap: 10px;
}

.tarjeta_de_mokepon {
    width: 180px;
    height: 100px;
    background-color: #39B5E0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta_de_mokepon img {
    width: 80px;
}

#boton_mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label {
    width: 180px;
    background-color: #0A2647;
}

#seleccionar_ataque {
    flex-direction: column;
    align-items: center;
}

.boton_de_ataque {
    background-color: #39B5E0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 280px;
    background: #2192FF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    flex-direction: column;
}

#boton_reiniciar {
    border: none;
    color: white;
    background-color: #39B5E0;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas_jugador, #vidas_enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques_enemigo, .ataques_jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver_mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas_ataques {
        flex-direction: column;
    }
}